body {
  background-color: lightblue;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  text-align: center;
}


#img {

  text-align: center;
  z-index: 0;
}

#persoimg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:8px;
  text-align: center;
}

#perso {
  text-align: center;
}
#dialog {
  text-align: center;
}

#Data{
  display: none;
}

#wrapcase {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  overflow-wrap: break-word;
  word-wrap: break-word;

}
